@media only screen and (min-width: 64rem) {

    .navigation li:first-child {
        display: none;
    }

    nav ul li a {
        padding: .5rem 1rem;
    }

    main {
        padding-left: 10rem;
        padding-right: 10%;
    }

    
}